<div class="container container-home">

  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10 text-center">
      <span class="home-title">Welcome To<br />Acme Widget Company!</span>
    </div>
    <div class="col-sm-1"></div>
  </div>

  <br />
  <br />

  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-3 text-center">
      <button class="btn btn-primary" [routerLink]="['/useractivity/activity']">Sign Up For An Activity</button>
    </div>
    <div class="col-sm-3 text-center">
      <button class="btn btn-primary" [routerLink]="['/useractivity/list']">View Registered Users</button>
    </div>
    <div class="col-sm-3"></div>
  </div>

</div>

<style type="text/css">
  nav.navbar.navbar-expand-sm.navbar-toggleable-sm.navbar-light.bg-white.border-bottom.box-shadow.mb-3 {
    display: none !important;
  }
</style>
